[user]
	email = hwijeen@gmail.com
	name = hwijeen
[pager]
	branch = false
    diff = false
    status = false
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[credential]
	helper = store
[core]
    editor = vim
[alias]
	logs = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
